@import "tailwindcss";

:root {
  --background: #f5f4f3;
  --foreground: #404040;
  --backgroundBlack: #050505;
  --preLoaderBackground: #befc65;
}

body {
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
  background-color: #131314;
}
